.header {
    background-color: #2196F3;
    color: #fff;
    padding: 16px;
    text-align: center;
  }
  
  .header img {
    object-fit: contain; 
    width: 40px; 
    height: 40px;
    margin: 10px;
  }